.main {
    margin-top: 15px;
}
.card-body {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    min-height: 70px;
    max-height: 70px;
}
.card {
    min-height: 200px;
    max-height: 550px;
}

img {
    opacity: 0.95;
}
img:hover {
    opacity: 1;
}

h4 {
    max-width: 250px;
}
.row equal-cols {
    display: table;
}

.col-sm-3 {
    display: table-cell; /* Make elements inside the container behave like table cells */
}

div#load {
    width: 150px;
    height: 150px;
    margin: 15%;

    margin-left: 40%;
    margin-top: 10%;
}
a {
    text-decoration: none;
}
